[submodule "openssl-cmake"]
	path = external/openssl-cmake
	url = git@github.com:EugeniyKozhanov/openssl-cmake.git
[submodule "external/zlib"]
	path = external/zlib
	url = git@github.com:EugeniyKozhanov/zlib.git
